@model TimeModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <h2>Hello World</h2>

    @using (Html.BeginForm("AddTime", "Time", FormMethod.Post))
    {
        <input id="logTimeBtn" type="submit" value="Log Time">
        @if (Model.CurrentTime != "")
        {
            <h4>The button was last clicked on @Model.CurrentTime</h4>
        }
    }

</div>

